<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request off</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Request Off</h1>
            <hr>
            <div>empty div here for form</div>
            <br>
            <a href="schedulePage.html" class="btn btn-primary btn-lg">
              <span class="fa fa-plus"></span> Cancel </a>
              <a href="#" class="btn btn-primary btn-lg"> 
                <span class="fa fa-plus"></span> Submit </a>
          </div>
        </div>
</body>
</html>