<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOT | Request Off Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Open+Sans+Condensed:300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./assets/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <div class="surveyBody">

        <form name="requestOff">
            <div class="form-group">
                <label for="exampleFormControlInput1">First Name (required)</label>
                <input name="firstname" class="form-control" id= "name exampleFormControlInput1" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Last Name (required)</label>
                <input name="lastname" class="form-control" id= "name exampleFormControlInput1" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="Date">Please choose a date from the options below. If the date you need is not an option, please reach out to your manager directly.</label>
                <select class="form-control" id="date exampleFormControlSelect1">
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
            </div>

            <div class="form-group">
                <label for="Start Time">Shift Start Time</label>
                <select class="form-control" id="startTime exampleFormControlSelect1">
                    <option>8:00am</option>
                    <option>9:00am</option>
                    <option>12:00pm</option>
                    <option>4:00pm</option>
                </select>
            </div>

            <div class="form-group">
                <label for="End Time">Shift End Time</label>
                <select class="form-control" id="endTime exampleFormControlSelect1">
                    <option>12:00pm</option>
                    <option>3:00pm</option>
                    <option>6:00pm</option>
                    <option>9:00pm</option>
                    <option>11:00pm</option>
                </select>
            </div>
        </form>
        <a href="./index.html" id="submitRequest" class="btn btn-primary btn-lg">
            <span class="fa fa-th-list"></span> Submit</a>
        </div>
    </div>
</body>

<script type="text/javascript">

function validateForm() {
  var x = document.forms["requestOff"]["firstname"].value;
  var y = document.forms["requestOff"]["lastname"].value;
  if (x == "" || y == "") {
    alert("Please fill out required name field.");
    return false;
  }
};

$("#submitRequest").click(function(){
return validateForm();
});





</script>
</html>